/*****************************************************************
CSS Agency
*****************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
iframe {border: 0;background: none;}
.clear:after {content:' ';clear:both;display:block;font-size:0;line-height:0;overflow:hidden;}
.clear-both {clear:both;*float: none !important;*clear: none !important}
/*specific styles***************************************************/
html {}
body {overflow-x: hidden;line-height: 1.2;color: #4e4b50;
	font-size: 12px;font-family: "Arial", sans-serif;}

a, a:link,
a:active,
a:visited {outline: none;text-decoration:none;}
a:hover {text-decoration: underline;}
img {display:block;position: relative;}
p {margin:0 0 10px 0;}
h2, h1, h3 {
	font-family: 'open_sans';font-size: 1.7em;
	margin: 0 0 10px 0;
}
h2 {font-size: 16px;margin: 0 0 10px 0;}
h1 {font-size: 32px;margin: 0;}
h3 {font-size: 14px;}
.hidden-balise {display: none !important;}
/* forms *********************************************************/
input[type="submit"], input[type="reset"] {background: none;border: none;cursor: pointer;}
/**************************************************Header************************************************/
h2 {font-family:'raleway semibold';font-weight: 600;}
h3 {font-family:'raleway light';font-weight: 300;}
p {font-family:'Open Sans', sans-serif;font-weight: 400;}
#page{max-width: 1600px;margin: 0 auto;overflow: hidden;}
.container{max-width: 1170px;margin:0 auto;overflow: hidden;}
header{text-align: center;margin-bottom: 179px;position: absolute;left: 23%;top: 1%;z-index: 99;}
.logo{position: absolute;left: 41%;top: 2%;}
.logo a{position: absolute;display: block;}
.logo a img{margin: 0;padding: 0;}
.menu{position: relative;margin-bottom: 50px;}
.menu nav ul {padding: 0;margin-top: 50px;}
.menu nav ul li{display: inline-block;margin-right: 51px;}
.menu nav ul li:nth-child(3){margin-right: 0px;}
.menu nav ul li:nth-child(4){margin-left: 247px;}
.menu nav ul li a{font-weight: 300;transition: 0.5s;color: #ddddde;text-transform: uppercase;}
.menu nav ul li a:hover{color: #e33138;text-decoration: none;}
/**************************************************Slider************************************************/
.bx-wrapper{margin-bottom: 0;}
.bx-wrapper img{width: 100%;min-height: 900px;}
.slider .bx-viewport{left: 0px !important;border: none !important;height: 754px !important;}
.bx-wrapper .bx-pager{position: absolute !important;bottom: 1% !important;}
.slider{position: relative;width: 100%;}
.slideText{position: absolute;top: 30%;left: 10%;color: #fff;}
.slideText h2{font-size: 70px;text-transform: capitalize;}
.slideText p{text-align: left;font-size: 50px;width: 80%;}
.slideText span img{width: 16%;}
#slideButton{margin-right: 1%;float: left;width: 10%;text-decoration: none;transition: 0.9s;margin-top: 26px;padding: 11px 16px;color: #fff;border: 1px solid #fff;font-size: 15px;text-transform: uppercase;display: block;text-align: center;}
#slideButton:hover{background: #ff3c1f;cursor: pointer;color: #fff;}
/**************************************************AboutUs************************************************/
.aboutUs .container .about{margin-bottom: 78px;}
.aboutUs .container .about h2{color: #303030;font-size: 45px;margin-top: 98px;}
.aboutUs .container .about p{font-size: 18px;text-align: left;margin-top: 20px;}
.themoreuKnow{float: left;width: 22%;padding: 0 15px;}
.themoreuKnow p{font-size: 28px;line-height: 1.4;text-align: left;}
.aboutUs .container div:nth-child(n+3){margin: 0 1% 78px 0;float: left;width: 22%;background: url("../images/aboutUsOutline.png")no-repeat 0px 0px;background-size: cover;min-height: 245px;text-align: center;padding: 15px 9px;}
.aboutUs .container div:nth-child(n+3) h3{font-size: 20px;text-transform: uppercase;font-weight: 700;margin-bottom: 10px;padding-top: 27px;}
.aboutUs .container div:nth-child(n+3) h3 img{margin: 0 20px 0 0;padding: 0;vertical-align: middle;display: inline-block;}
.aboutUs .container div:nth-child(n+3) p{text-align: left;font-size: 12px;line-height: 1.8;}
.themoreuKnow #uknowButton{width: 75%;text-decoration: none;transition: 0.9s;margin-top: 26px;padding: 11px 16px;background: #ff3c1f;color: white;border: none;font-size: 15px;text-transform: uppercase;display: block;text-align: center;}
.themoreuKnow #uknowButton:hover{background: #303030;cursor: pointer;color: #fff;}
/**************************************************Paralax************************************************/
.paralax{background: url("../images/img14.jpg")no-repeat 0px 0px;background-size: cover;overflow: hidden;}
.paralax {color: #fff;text-align: center;}
.paralax  h2 {font-size: 45px;margin-top: 129px;}
.paralax  h2::first-letter {text-transform: capitalize;}
.paralax span{height: 1px;width: 8%;background: #fff;display: block;margin: 0 auto;}
.paralax  h3 {font-size: 18px;margin: 21px 0 85px 0;}
.paralax  p {font-size: 30px;margin-top: 86px;font-style: italic;font-weight: 300;}
.paralax  p:last-child{float: left;margin: 22px 0 92px 0;text-transform: capitalize;}

/**************************************************Stats************************************************/
.stats{padding: 98px 0 92px 0;background-color: #656d7a;margin: 0 auto;}
.stats ul li{float: left;width: 24%;margin-right: 1%;color: #fff;}
.stats ul li p{font-size: 40px;}
.stats ul li p span{margin-right: 30px;}
.stats ul li h3{font-size: 25px;margin-left: 75px;text-transform: capitalize;}
/**************************************************LatestBlog************************************************/
.latestBlog h2{font-size: 45px;margin: 100px 0 23px 0;text-transform: capitalize;}
.latestBlog .latestHeader{margin-bottom: 92px;}
.latestBlog .latestHeader p{margin: 0 auto;font-size: 18px;width: 60%;padding-top: 21px;}
.latestBlog .latestHeader h2,p{text-align: center;}
.latestBlog span img{margin: 0 auto;}
.date p{margin-bottom: 0;}
.blog{border:1px solid #eee ;height: 350px;width: 99%;}
.blog h3{font-size: 25px;text-transform: capitalize;margin-top: 24px;font-family: 'raleway';}
.binfo + p{height: 40%;line-height: 2.1;text-align: left;padding: 22px 26px 19px 27px;font-size: 14px;margin-bottom: 0;}
.binfo p{margin-bottom: 0;}
.blog a{text-decoration: none;color: #4e4b50;transition: 0.7s;cursor:pointer;}
.blog a:hover{color: #ff3c1f;}
.blogPost{margin-left: 0.8px;width: 3.9%;}
.slide{margin-right: 0.5px;}
.blogPost h3{text-align: center;}
.blogPost h3 + span{width: 85%;background:#eee;height: 1px;display: block;margin: 0 auto;}
.binfo{text-align: center;font-size: 14px;margin-top: 14px;}
.binfo li{display: inline-block;margin-right: 1%;}
.blogPost img{width: 100%;height: auto;}
#blogButton{text-transform: uppercase;padding: 16px 27px;border: 1px solid #ff3c1f;display: block;width: 25%;margin: 18px 0 32px 27px;text-align: center;}
#blogButtonmid{text-transform: uppercase;padding: 16px 27px;border: 1px solid #ff3c1f;display: block;width: 25%;margin: 18px 0 45px 27px;text-align: center;}
/**************************************************portfolio************************************************/
.latestPortfolio{position: relative;float: left;overflow: hidden;}
.latestPortfolio h2{text-align: center;font-size: 45px;margin-top: 97px;text-transform: capitalize;}
.latestPortfolio span img{margin: 0 auto;margin-bottom: 94px;position: relative;}
.latestPortfolio ul{width: 100%;list-style: none;padding-bottom: 50px;}
.latestPortfolio ul .wrapper{width: 25%;float: left;height: 240px;overflow: hidden;}
.latestPortfolio ul .wrapper a img{height: 100%;width: 100%;}
.content{position: relative;height: 240px;background: url('../images/hoverEffect.png');}
.wrapper:hover .content{transform: translateY(-240px);transition: 0.9s;}
.text{padding-top: 17%;font-size: 14px;color: #fff;text-align: center;position: absolute;left: 27%;}
.text h4{font-size: 20px;cursor: pointer;margin-bottom: 20px;}
.text p{font-size: 15px;cursor: pointer;}
#linkZoom{margin-left: 66%;margin-top: 27%;position: absolute;top: 43%;}
#linkZoom .link{float: left;margin-right: 39px;cursor: pointer;font-size: 24px;}
#linkZoom .link:hover{color: #ff3c1f;}
#linkZoom .zoom{float: left;cursor: pointer;font-size: 24px;}
#linkZoom .zoom:hover{color: #ff3c1f;}
#portfolioButton{float: left;text-align: center;width: 8%;color: #4e4b50;text-decoration: none;text-transform: uppercase;padding: 16px 27px;border: 1px solid #ff3c1f;margin: 27px 43.7%;transition: 0.7s;}
#portfolioButton:hover{color: #ff3c1f;}

/**************************************************partners************************************************/
.partners{float: left;width: 100%;}
.partners ul{display: table;border-collapse: separate;border-spacing: 10px;width: 100%;}
.partners ul li{display: table-cell;vertical-align: middle;}
.partners ul li a img{padding: 30px 20px;height: 30px;border:1px solid black;}

/**************************************************othersay************************************************/
.others{margin: 96px 0 0 0;}
.whatOthers{float: left;width: 100%;background: url("../images/img10.jpg") no-repeat 0px 0px;background-size: cover;overflow: hidden;}
.whatOthers .container{margin-bottom: 127px;}
.whatOthers .container h2{margin-top: 128px;font-size: 45px;text-align: center;text-transform: capitalize;}
.whatOthers .container .underline{height: 1px;background: #fff;width: 10%;display: block;margin: 0 auto;}
.accordion{float: left;width: 37%;background:url("../images/accord.png")no-repeat 0px 0px;padding: 32px 32px;}
.accordion .ui-state-focus{outline: none;}
.accordion p{text-align: left;}
.whatSlide{float: left;width: 47%;margin-right: 2%;background: url("../images/testimonials.png")no-repeat 0px 0px;padding: 32px 32px;}
.whatSlide ul li img{float: left;width: 10%;margin-right: 5%;border:1px solid #ff3c1f;height: auto;}
.whatSlide ul li p{font-size: 15px;}
.whatSlide ul li h3{font-size: 24px;}
.whatSlide ul li span{font-size: 14px;}
.whatSlide .bx-wrapper {margin-top: 11px;}
.whatSlide .bx-viewport{width: 96% !important;height: 92px !important;}
.whatSlide .bx-wrapper .bx-viewport{box-shadow: none;border: none;}
.bx-wrapper img{min-height: auto;}
.whatSlide .bx-wrapper .bx-pager{top: 80% !important;}
.whatSlide .bx-wrapper .bx-pager.bx-default-pager a{width: 12px;height: 13px;border-radius: 0px;background: #fff;border:1px solid #abb3c0;}
.whatSlide .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:#ff3c1f;}

/**************************************************Contact************************************************/
.knowUs{float: left;width: 100%;margin-bottom: 70px;}
.contact{margin-top: 60px;}
.contactHeader h2{font-size: 45px;margin:70px 0 20px 0;text-transform: capitalize;}
.contactHeader p{font-size: 18px;text-align: left;margin-top: 20px;}
.contactInfo{float: left;width: 33%;}
.contactInfo ul{padding: 0 0 60px 0;display: table;}
.contactInfo ul li{display: table-cell;vertical-align: middle;}
.contactInfo ul li span{font-size: 35px;margin-right: 63px;}
.contactInfo ul li p{text-align: left;font-size: 14px;margin: 3px;}
/**************************************************contactForm************************************************/
.contactForm{width: 66%;float: left;}
.contactForm input[type="text"],textarea{color: #abb3c0;width: 100%;padding: 3% 0;margin-bottom: 5%;outline: none;border:1px solid #abb3c0;border-top:none;text-indent:1%;font-size: 15px;}
.name{float: left;width: 49%;}
.email{float: right;width: 49%;}

/**************************************************Gmap************************************************/
.googleMap{float: left;width: 100%;}
/**************************************************footer************************************************/
.footer{background-color: #303030;overflow: hidden;float: left;width: 100%;}
.footer a{color: #fff;}
.footerLeft ul{list-style:none;margin: 9px;font-size: 18px;}
.footerLeft ul li{float:left;margin:58px 0 0 37px;}
.footerLeft ul li:nth-child(1){margin-left: 77px;}
.footerMid{float: left;}
.footerMid img{margin:21px 177px 22px 250px;}
.footerRight{color:#fff;margin:68px 55px 0 0;font-size: 14px;}
.copy a{text-decoration: none;transition: 0.5s;}
.copy a:hover{color: #ff3c1f;}
/**************************************************Top************************************************/
.ti-angle-up{color: #fff;}
.top{background: #57595b;text-align: center;font-size: 26px;position: fixed;bottom: 22%;right:65px;overflow: hidden;width: 38px;height: 34px;padding-top: 6px;}
/**************************************************Responsive************************************************/
@media(max-width:767px){
.slideText{top: -4%;width: 153%;}
.slideText p{width: 55%;}
.themoreuKnow{width: 50%;}
}
